/* Rounded border */
hr.rounded {
  border-top: 5px solid #5082b6;
  border-radius: 3px;
}

.svg-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
}

.source {
  font-size: 10px;
  color: #888;
}
.source a {
  color: #888;
}

/* Marks */
.point:hover {
  stroke: #333;
}

/* Axes */
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 13px;
  fill: #6b6b6b;
}
.axis-title {
  font-size: 13px;
  fill: #888;
}
.y-axis .tick:first-child line {
  stroke: #b1b1b1;
}
.y-axis .tick:first-child text {
  display: none;
}
.x-axis .tick:first-child line {
  display: none;
}
.axis path {
  display: none;
}

/* Legend */
.legend {
  margin: 20px 0;
  list-style: none;
  padding: 0;
}
.legend-btn {
  display: inline-block;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legend-btn:hover.legend-btn.inactive:hover  {
  opacity: 0.7;
}
.legend-btn.inactive {
  opacity: 0.5;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
}
.legend-btn[data-difficulty="Easy"] .legend-symbol {
  background: #d3eecd;
}
.legend-btn[data-difficulty="Intermediate"] .legend-symbol {
  background: #7bc77e;
}
.legend-btn[data-difficulty="Difficult"] .legend-symbol {
  background: #2a8d46;
}

/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}
.tooltip {
  display: none;
  position: absolute;
  z-index: 1;
}

.line-divider {
  height: 50vh;
  width: 8px;
  background-color: #5082b6;
  border-radius: 3px;
  display: inline-block;
}
.histogram-line-container {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    float: left;
}
.timeline-container {
     width: 33.33%;
       margin: 0 auto;
}
.histogram-line-container, .timeline-container, .line-divider, .dataTable-container {
    display: inline-block;
    vertical-align: top;
}


/* Legend */
.legend {
  margin: 20px 0;
  list-style: none;
  padding: 0;
}
.legend-btn {
  display: inline-block;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legend-btn:hover.legend-btn.inactive:hover  {
  /*opacity: 1.0;*/
}
.legend-btn.inactive {
  opacity: 0.3;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
}
.legend-btn[category="A"] .legend-symbol {
  background: #1b9e77;
}
.legend-btn[category="F"] .legend-symbol {
  background: #d95f02;
}
.legend-btn[category="G"] .legend-symbol {
  background: #7570b3;
}
.legend-btn[category="K"] .legend-symbol {
  background: #e7298a;
}
.legend-btn[category="M"] .legend-symbol {
  background: #66a61e;
}
.legend-btn[category="N/A"] .legend-symbol {
  background: #ebbc35;
}
.legend-btn[category="SUN"] .legend-symbol {
  background: #89CFF0;
}




  .bodyTable td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bodyTable tr {
    height: 40px;
  }

  .bodyTable tr:hover {
    background-color:grey;
  }

  .scroll {
    overflow: auto;
  }